<table class="w-fullfont-sans">
  <thead>
    <tr class="grid grid-cols-12">
      <th class="col-span-2">Fecha</th>
      <th class="col-span-5 lg:col-span-7">Imagen</th>
      <th class="col-span-5 lg:col-span-3">Titulo</th>
    </tr>
  </thead>
  <tbody>
    <tr class="grid grid-cols-12 cursor-pointer m-2 hover:bg-gray-100" *ngFor="let item of list" (click)="next(item)">
      <td class="col-span-2 text-base"><p>{{ item.date }}</p></td>
      <td class="col-span-5 lg:col-span-7 whitespace-pre-wrap"><p class="break-all">{{ item.url }}</p></td>
      <td class="col-span-5 lg:col-span-3"><p>{{ item.title}}</p></td>
    </tr>
  </tbody>
</table>
